<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://s3.eu-west-2.amazonaws.com/luxurylondon.co.uk-storage-bucket-001/images/060319122708/card/wimbledon-london-2019-xl-hd.jpg);">
  <div class="container">
    <h1>Add a Brand</h1>
      <%= link_to "Home", brands_path, class:"btn btn-primary" %>
  </div>
</div>
<div class="container mt-3">
  <h2>What brand is going in the kitbag?</h2>
  <%= simple_form_for @brand do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <%= f.submit "In the bag", class: "btn btn-success" %>
  <% end %>
</div>
