<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.atptour.com/en/tournaments/roland-garros/520/-/media/images/news/2016-photo-upload/roland-garros-2015-final-stadium.jpg);">
  <div class="container">
    <h1><%= @brand.name %></h1>
      <%= link_to "Home", brands_path, class:"btn btn-primary" %>
  </div>
</div>
<div class="container p-3">
  <%= link_to "Sponsorships", new_brand_sponsorship_path(@brand), class:"btn btn-success" %>
</div>

<div class="container">
  <div class="row">
    <% @brand.sponsorships.each do |sponsorship| %>
      <div class="col-sm-4 mb-4">
        <div class="card-product">
          <%= image_tag sponsorship.player.image_url %>
        <div class="card-product-infos">
          <h2><%= sponsorship.player.name %></h2>
          <p><strong>Ranking: <%= sponsorship.player.ranking %></strong></p>
          <p>Nationality: <%= sponsorship.player.country %></p>
          <%= link_to sponsorship_path(sponsorship), method: :delete, class:'card-remove-link', data: { confirm: "Delete #{sponsorship.player.name} sponsorship?"} do %>
            <i class="fas fa-times-circle"></i>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This is a Rails project by Joss Dixon.
  </div>
</div>
